<a
  data-cursor
  href={null}
  class="inline-flex transition-all border-neutral-700 hover:border-opacity-0 border-opacity-50 shadow rounded-md border backdrop-blur-xl bg-skin-button-muted/50 px-3 py-2.5 items-center font-semibold group p-2 text-sm gap-x-2 mt-4 ring-1 ring-skin-muted print:hidden"
>
  <span>Open to work</span>
  <span class="w-2 h-2 rounded-full bg-green-400 duration-1000 animate-pulse" />
</a>